$btn-width: 200px;

#{$prefix}_btn {
  padding: 0.75rem 1.25rem;
  width: $btn-width;
  font-size: 1rem;
  font-weight: normal;
  border: none;
  border-radius: 5px;
  background-color: transparent;

  &--primary {
    color: $color-text-light;
    background-color: $color-primary;    

    &:hover,
    &:focus {
      opacity: 0.9;
    }
  }
}